[default]
add_header = yes
domains = example.com,corp.org

[gpg]
keyhome = /var/gpg/.gnupg

[logging]
file = /tmp/gpg-mailgate.log

[relay]
host = 127.0.0.1
port = 10028

[keymap]
# You can find these by running the following command:
#	gpg --list-keys --keyid-format long user@example.com
# Which will return output similar to:
#	pub   1024D/AAAAAAAAAAAAAAAA 2007-10-22
#	uid                          Joe User <user@example.com>
#	sub   2048g/BBBBBBBBBBBBBBBB 2007-10-22
# You want the AAAAAAAAAAAAAAAA not BBBBBBBBBBBBBBBB.
#user@example.com = <gpg key id>
